*/**/bin/*
*/**/bin/*
*/**/bin/release
*/**/bin/x64/release
*/**/bin/x86/release
*/**/obj/*
*/**/obj/*
*/**/packages
*/WeighingSystemStd_Bundle/Prereqs
*/WeighingSystemStd_Installer/bin
*/WeighingSystemStd_Installer/obj   
/node_modules
/.vs
.dtbcachev2