<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PRG_TMP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PRG_TMP.My.MySettings>
            <setting name="MainSvr" serializeAs="String">
                <value>MYKELLE\SQLEXPRESS</value>
            </setting>
            <setting name="MainSvrDB" serializeAs="String">
                <value>MACAI</value>
            </setting>
            <setting name="MainSvrPwd" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainSvrUid" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="OneTimeConnect" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="AccessPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="MainSvrConnectionType" serializeAs="String">
                <value>OLEDB</value>
            </setting>
            <setting name="ComStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ComDatabits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ComBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ComPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ComParity" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="UnitWeight" serializeAs="String">
                <value>KG</value>
            </setting>
            <setting name="UnitPrice" serializeAs="String">
                <value>KG</value>
            </setting>
            <setting name="EnablePricing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeduction" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="EnablePrintInOut" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="EnablePrintIn" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="EnablePrintOut" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="EnablePrintAll" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="WeighingType" serializeAs="String">
                <value>IO</value>
            </setting>
            <setting name="IndicatorType" serializeAs="String">
                <value>GSE460</value>
            </setting>
        </PRG_TMP.My.MySettings>
    </userSettings>
</configuration>
